src/main/mule/test-acb-integration-twitch.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
        

        <http:request-config name="httpbin.org-request-config" >
                    <http:request-connection host="#['httpbin.org']" protocol="HTTPS"/>
                </http:request-config>

        <flow name="get-httpbin-schedule" doc:name="get-httpbin-schedule" >
            <scheduler doc:name="Scheduler" doc:id="ghecdo" >
                <scheduling-strategy>
                    <fixed-frequency frequency="1000"/>
                </scheduling-strategy>
            </scheduler>

            <http:request doc:name="Request" doc:id="zsrwpz" config-ref="httpbin.org-request-config"
                path="#['/get']" />

            <logger level="INFO" message='#[payload]' doc:name="Logger" doc:id="mkmqzd" />
            
        </flow>
        
        <flow name="just-another-flow" doc:name="just-another-flow" >
            <logger level="DEBUG" message='Just another flow' doc:name="Logger" doc:id="vwrltn" />
        </flow>
        
        
</mule>